[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
        ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
        ignore = dirty
[submodule "bundle/utl"]
	path = bundle/utl
	url = https://github.com/vim-scripts/utl.vim.git
        ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
        ignore=dirty
